.title {
	font-weight: 500 !important;
	letter-spacing: -0.1px;
	font-size: 22px;
	line-height: 115%!important;
}

.paper {
	border-radius: 8px !important;

	&:nth-child(n + 2) {
		margin-top: 20px;
	}
}
.post_footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.actions {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.raiting {
	display: flex;
	align-items: center;
	span {
		color: #2ea83a;
		font-weight: 500;
		font-size: 16px;
	}

	.rotate,
	.rotate2 {
		position: relative;
		cursor: pointer;
		width: 24px;
		height: 24px;
	}

	.rotate {
		bottom: 7px;
		transform: rotate(-90deg);
		margin-right: 10px;
	}
	.rotate2 {
		margin-left: 10px;
		bottom: -4px;
		transform: rotate(90deg);
	}
}
