.root {
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
	background-color: #fff4e2!important;
    padding: 0 35px 0 10px;
    height: 60px;
    }

.headerLeft {
    display: flex;
}

.logo {
    width: 32px;
    height: 42px;    
    margin-right: 20px;
    margin-left: 9px;
}

.penButton {
    min-width: 40px!important;
    font-size: 16px;
    text-transform: inherit !important;
    letter-spacing: 0;
}

.searchBlock {
    position: relative;
    margin-right: 15px;
    width: 310px;
    svg {
        position: absolute;
        top: 7px;
        left: 10px;
        opacity: 0.3;
    }

    input {
        width: 100%;
        height: 38px;
        border: 0;
        border-radius: 10px;
        background: rgba(0,0,0,0.05);
        font-size: 16px;
        padding-left: 40px;
        transition: all .1s ease-in-out;
        border: 1px solid transparent;

        &:hover,
        &:focus {
            border-color: darken(#FFF4e2, 15%);
            background: #fff;
            box-shadow: 0 0 0 3px rgb(229 160 64 / 12%);
        }
    }
}

.avatar {
    margin-left: 15px;
    border-radius: 20%!important;
    margin-right: 6px;
}