html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  min-height: 100%;
  background-color: rgb(242,242,242);

}

.main_cont {
  padding-top: 75px;
  background-color: rgb(242,242,242);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.content {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}